@import url(https://fonts.googleapis.com/css?family=Open+Sans|Rubik);


.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: black;
}

.App-title {
  margin: 0;
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

main {
  padding: 0px 50px 0px 50px;
}

#site-nav {
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 860px;
  padding-bottom: 20px;
  padding-bottom: 2rem
}

#main-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
  grid-gap: 2px;
}

#sub-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
  grid-gap: 2px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  text-decoration: none;
  transition: background-color .2s linear, color .2s linear;
  color: white;
}

.button.home {
  background-color: #E0995E
}

.button.code {
  background-color: #C75C5C
}

.button.sound {
  background-color: #3F826E
}

.button-active {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid #111;
}

#content-holder {
  padding-bottom: 50px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.content-title {
  border-bottom: 1px solid black;
}

.preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 2rem;
}

.preview-content {
  
}

.preview-thumb {
  transition: all .4s ease;
  width: 100%;
  padding-bottom: 56.5%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #222;
  border: 1px solid #222;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.preview-thumb:hover {
  opacity: 0;
}

footer {
  background-color: black;
  padding: 20px 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
